@CHARSET "UTF-8";

@media all {
	* {
		margin: 0px;
		padding: 0px;
	}
	
	body {
		font: 14px Arial, sans-serif;
	}
	
	.boardContainer {
		margin: 40px;
		float: left;
	}
	
	.board {
		display: inline-block;
		margin: 0px auto;
		text-align: center;
		padding: 20px;
		border: 1px solid #666;
		background: #aaa; 
	}
	
	.board table td {
		margin: 2px;
		padding: 5px;
		width: 14px;
	}
	
	.board table td.hole {
		background: #f9f9f9;
		border: 1px solid #999;
	}
}